:root {
  background-color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#wholeGameContainer {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  align-items: center;
  gap: 40px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#gameTitle {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}
#gameInstruction {
  font-size: 20px;
  text-align: center;
}
#gameContent {
  display: flex;
  gap: 10px;
}
#memoryCardContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.gameResult {
  background-color: white;
  padding: 15px;
  font-size: 20px;
}
